<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-10">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-5 col-xl-11">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">To Do List</h4>

            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
           
                
                  <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-primary" routerLink="/todo">Create New ToDo</button>
                  </div>
                

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Title</th>
                  <th scope="col">Status</th>
                  <th scope="col">Responsible</th>
                  <th scope="col">Create Date</th>
                  <th scope="col" class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
               
                <ng-container *ngFor="let todo of todos">
                  <tr [ngClass]="{
                    complete: todo.status=== 'completed' }">
                  <th scope="row">{{todo.id}}</th>
                  <td>{{todo.title}}</td>
                  <td>{{todo.status}}</td>
                  <td>{{todo.responsiblePerson.fullName}}</td>
                  <td>{{todo.createdAt | date: 'dd.MM.yyyy'}}</td>
                  <td class="text-center">
                    <button  type="submit" class="btn btn-secondary ms-1" [disabled]="todo.status ==='completed'" routerLink="/todo/edit/{{todo.id}}"><i class="fas fa-edit errspan"></i> </button>
                    <button  type="submit" class="btn btn-success ms-1" [disabled]="todo.status ==='completed'" (click)="complete(todo.id)"><i class="fa fa-check errspan" aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger ms-1" (click)="delete(todo.id)"> <i class="fa fa-trash errspan" aria-hidden="true" ></i></button>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>

          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
